* {
    margin: 0px;
    padding: 0px;

}
body {
    background: linear-gradient(to bottom, rgb(245, 247, 250), rgb(195, 207, 226));
    color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    color: rgb(74, 144, 226);
}
.caller-list-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(238, 242, 247);
    padding: 15px;
    border-radius: 12px 0 0 12px;
    width: 180px;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.caller-list-heading {
    font-size: 1.5rem;
    color: rgb(74, 144, 226);
    margin-bottom: 15px;
}

.caller-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.video-call-container {
    margin-left: 200px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 12px 12px 0;
}

.username-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-size: 18px;
}
.username-input input {
    font-size: 18px;
    padding: 20px;
}

.username-input button {
    font-size: 18px;
    color: white;
    background-color: rgb(74, 144, 226);;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 5px;
    padding: 10px;
}

.username-input button:hover {
    background-color: rgb(53, 122, 189);
}



.video-stream {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.local-video, .remote-video {
    background-color: rgb(240, 244, 248);
    border: 2px solid rgb(74, 144, 226);
    border-radius: 10px;
    
}

video {
    border-radius: 10px;
}

.local-video video ,
.remote-video video {
   width: 400px;
    height: 300px;
}

button.call {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 77, 79);
    border: white;
    border-radius: 50%;
    width: 50px;
    margin-bottom: 30px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.call img {
    width: 25px;
    height: 30px;
    align-items: center;
}

button.call:hover {
    background-color: rgb(227, 51, 53);
    transform: scale(1.1);
}

/* #screenShareBtn:hover { */
    /* background-color: rgb(69, 103, 196); */
 /* } */ 

.btn {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    margin-bottom: 30px;
    background-color: #6c63ff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #584eda;
}

